LLM_PROVIDER=openrouter

# Groq (бесплатно)
GROQ_API_KEY=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

OPENROUTER_API_KEY=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